<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <%= form.label :email, "メールアドレス" %>
  <%= form.email_field :email, value: @email %>
  
  <%= form.label :password, "パスワード" %>
  <%= form.password_field :password %>

  <%= form.label :remember_me do %>
    <%= form.check_box :remember_me %>
    <span>ログインしたままにする</span>
  <% end %>

  <%= form.submit "ログイン",　data: { "disable-with": "ログイン中..." }, class: 'btn' %>
<% end %>